
@font-face {
    font-family: 'PTS'; /* Имя шрифта */
    src: local('PTS'),
    url('fonts/pts.woff2') format('woff2');

    font-weight: normal;
    font-style: normal;
}
html,
body
{
    color: #363636;

}
.dic-panel
{
    /*display: none;*/
    position: absolute;
    width: 546px;
    height: 420px;
    background-color: #ffffff;
    z-index: 50000;
    top: 32px;
    left: -1px;
    border: 1px solid #d1d1d1;
    padding: 5px 0 0 0;
    border-radius: 5px;
    box-shadow: 0 5px 34px -12px #668aa9;
    overflow: hidden;
}
.dic-panel.-maxheight
{
    max-height: 226px;
}
.dic-picker
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: PTS, Tahoma;
    height: 29px;
    width: 204px;
    position: relative;
    border: 1px solid #d1d1d1;
    border-radius: 4px;
    padding: 0;
    margin: 0 auto;
}
.dic-icon
{
    height: 100%;
    width: 30px;
    border-right: 1px solid #d1d1d1;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    float: left;
}
.dic-icon__datepicker
{

    background: rgba(243, 243, 243, 1) url("images/datepicker.svg") no-repeat center;
    opacity: 0.5;
    height: 100%;
    width: 100%;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.dic-icon__datepicker:hover,
.dic-icon__datepicker.-active
{
    cursor: pointer;
    opacity: 1;
}
.dic-triangle
{
    background: rgba(0, 0, 0, 0) url("images/triangle.svg") no-repeat center;
    height: 8px;
    width: 16px;
    position: absolute;
    top: -8px;
    left: 106px;
}

input.dic-picker__value
{
    width: 80px;
    height: 100%;
    padding: 0!important;
    margin: 0;
    text-align: center;
    line-height: 29px;
    border: 0;
    outline: 0;
    outline-offset:0;
    float: left;
}
.dic-dash
{
    float: left;
    line-height: 29px;
    width: 10px;
    text-align: center;
}
.diP-functions
{
    height: 180px;
    width: 135px;
    float: left;
    padding: 40px 0 0 20px;

    border-right: 1px solid #f5f5f5;
}
.diP-functions__action
{
    height: 25px;
    line-height: 25px;
    font-size: 12px;
}
.diP-functions__action:hover
{
    color: #00a2ff;
    cursor: pointer;
}
.diP-header
{
    width: 100%;
    height: 30px;
    line-height: 30px;
}
.diP-header__name
{
    font-size: 16px;
    width:  167px;
    height: 100%;
    text-align: center;
    display: inline-block;
    padding-top: 1px;
}
.diP-header__text
{
    font-size: 16px;
    height: 100%;
    text-align: center;
    margin: 0 auto;
}
.diP-header__text:not(.-allow)
{
    opacity: 0.5;
}
.diP-header__text.-allow:hover
{
    cursor: pointer;
    color: #00a2ff;
}
.diP-header__name.-previousMonth
{
    padding-right: 39px;
}
.diP-header__name.-currentMonth
{
    padding-left: 39px;
}
.diP-header__prev
{
    height: 100%;
    width: 37px;
    display: inline-block;
    font-size: 25px;
    text-align: right;
    padding-right: 10px;
}
.diP-header__next
{
    height: 100%;
    width: 37px;
    display: inline-block;
    font-size: 25px;
    text-align: left;
    padding-left: 10px;

}
.diP-header__prev:hover,
.diP-header__next:hover
{
    cursor: pointer;
}
.diP-header__text
{
    font-size: 16px;
    height: 100%;
    text-align: center;
    margin: 0 auto;
}
.diP-header__text:not(.-allow)
{
    opacity: 0.5;
}
.diP-header__text.-allow:hover
{
    cursor: pointer;
    color: #00a2ff;
}

.dic-panel__separator
{
    width: 1px;
    height: 135px;
    background-color: #f5f5f5;
    float: left;
    margin-top: 6px;
}
.dic-panel__data
{
    width: 204px;
    height: 162px;
    font-size: 12px;
    float: left;
}
.dic-panel__data .dic-picker__week:first-child
{
    font-size: 10px;
}

.dic-picker__week
{
    width: 161px;
    height: 23px;
    margin: 0 auto;
}
.dic-picker__week div.dic-picker__day:nth-child(6),
.dic-picker__week div.dic-picker__day:nth-child(7),
.dic-picker__week div.dic-picker__day_name:nth-child(6),
.dic-picker__week div.dic-picker__day_name:nth-child(7){
    color: #ff0000;
}
.dic-picker__week.-notallow .dic-picker__day_name {
    opacity: 0.5;
}
.dic-picker__day,
.dic-picker__day_name
{
    width: 23px;
    height: 23px;
    line-height: 27px;
    text-align: center;    float: left;
}
.dic-picker__day:not(.-empty):not(.-future):hover
{
    line-height: 25px;
    border: 1px dotted #d1d1d1;
    cursor: pointer;
}
.dic-picker__day.-future
{
    opacity: 0.5;
}
.dic-picker__day.-selected
{
    background-color: #fee991;
}
.dic-picker__day.-interval
{
    background-color: #f5f5f5;
}
.dic-picker__day.-today
{
    position: relative;
}
.dic-picker__day.-today:after
{
    content: '';
    background-color: #f69415;
    width: 15px;
    height: 3px;
    position: absolute;
    bottom: 1px;
    left: 4px;
}
.dic-picker__day.-today:hover:after
{
    bottom: 0;
    left: 3px;
}
/*compare*/

.dic-compare
{
    height: 28px;
    width: 100%;
    background-color: #f5f5f5;
    clear: both;
    position: relative;
}
.dic-compare__toggle
{
    height: 28px;
    line-height: 28px;
    margin: 0 auto;
    display: table;
    font-size: 13px;
}
.dic-compare__toggle:hover
{
    cursor: pointer;
}
.dic-compare__change
{
    color: #a4a4a4;
    height: 12px;
    width: 12px;
    position: absolute;
    right: 27px;
    top: 7px;
    font-size: 13px;
    letter-spacing: -6px;
}
.dic-compare__clear
{
    background: url("images/compare__clean.svg") 0 0 / cover;
    opacity: 0.5;
    height: 12px;
    width: 12px;
    position: absolute;
    right: 10px;
    top: 8px;
}
.dic-compare__change:hover,
.dic-compare__clear:hover
{

    color: #363636;
    cursor: pointer;
    opacity: 1;
}
.dic-hidden
{
    padding: 2px;
    border-radius: 4px;
    background-color: #90d843;
    height: 15px;
    position: absolute;
    top: -8px;
    right: 8px;
}
.dic-hidden__dash
{
    background-color: transparent;
    color: #ffffff;
    width: 10px;
    font-size: 10px;
    text-align: center;
    line-height: 14px;
    float: left;
}

input.dic-hidden__value
{
    width: 55px;
    height: 100%;
    padding: 0!important;
    margin: 0;
    text-align: center;
    line-height: 14px;
    border: 0;
    outline: 0;
    outline-offset:0;
    background-color: transparent;
    color: #ffffff;
    font-size: 10px;
    float: left;
}

/**/
.dspl-none
{
    display: none;
}
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}